import pandas as pd

In [2]:
data=pd.read_csv("Real_Estate_Sales_2001-2020_GL.csv")
x=pd.DataFrame(data)
print(x)

<ipython-input-2-83b95eab5239>:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("Real_Estate_Sales_2001-2020_GL.csv")

        Serial Number  List Year Date Recorded       Town           Address  \
0             2020177       2020    04/14/2021    Ansonia     323 BEAVER ST
1             2020225       2020    05/26/2021    Ansonia    152 JACKSON ST
2             2020348       2020    09/13/2021    Ansonia   230 WAKELEE AVE
3             2020090       2020    12/14/2020    Ansonia       57 PLATT ST
4              200500       2020    09/07/2021       Avon      245 NEW ROAD
...               ...        ...           ...        ...               ...
683221         130215       2013    11/25/2013  Waterbury     29 DALTON AVE
683222         130091       2013    08/19/2014   Prospect  126 WATERBURY RD
683223         130398       2013    07/01/2014   Trumbull    11 TASHUA LANE
683224         130322       2013    09/23/2014  Waterford      8 FULMORE DR
683225         130623       2013    08/26/2014    Bristol      47 HANNAH ST

        Assessed Value  Sale Amount  Sales Ratio  Property Type  \
0             133000.0     248400.0     0.535400    Residential
1             110500.0     239900.0     0.460600    Residential
2             150500.0     325000.0     0.463000     Commercial
3             127400.0     202500.0     0.629100    Residential
4             217640.0     400000.0     0.544100    Residential
...                ...          ...          ...            ...
683221         61170.0      45000.0     1.359333  Single Family
683222         59710.0     240000.0     0.248792            NaN
683223        121900.0     520000.0     0.234423  Single Family
683224        113610.0     210000.0     0.541000  Single Family
683225        103740.0     180000.0     0.576333  Single Family

       Residential Type             Non Use Code  \
0         Single Family                      NaN
1          Three Family                      NaN
2                   NaN                      NaN
3            Two Family                      NaN
4         Single Family                      NaN
...                 ...                      ...
683221    Single Family         14 - Foreclosure
683222              NaN               25 - Other
683223    Single Family  07 - Change in Property
683224    Single Family                      NaN
683225    Single Family                      NaN

                                         Assessor Remarks OPM remarks  \
0                                                     NaN         NaN
1                                                     NaN         NaN
2                                                     NaN         NaN
3                                                     NaN         NaN
4                                                     NaN         NaN
...                                                   ...         ...
683221                                                NaN         NaN
683222  PER TOWN SITE ASSESS = $97,160 - SOLD TOGETHER...         NaN
683223                                   NEW CONSTRUCTION         NaN
683224                                                NaN         NaN
683225                                                NaN         NaN

                          Location
0       POINT (-73.06822 41.35014)
1                              NaN
2                              NaN
3                              NaN
4                              NaN
...                            ...
683221  POINT (-73.01433 41.55334)
683222                         NaN
683223                         NaN
683224                         NaN
683225                         NaN

[683226 rows x 14 columns]